.admin-container {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
}

.admin-content {
  padding: 20px;
  background-color: #FFF;
}

@media (min-width: 1200px) {
  .admin-container {
    flex-direction: row;
  }

  .admin-content {
    flex: 1;
  }
}
 
@media (min-width: 768px) {
  .admin-nav-item {
    min-width: 220px;
  }

}

@media (min-width: 1200px) {
 
  ul {
    justify-content: unset;
    flex-direction: column;
  }

  .admin-nav-container {
    padding: 0;
    width: 300px;
    height: calc(100vh - 70px);
  }

  .admin-nav-item {
    border-radius: 0;
    font-size: 18px;
    height: px;
    background-color: #FFF;
    border-bottom: 1px solid #E1E1E1;
    justify-content: flex-start;
    padding-left: 40px;
    
  }


}
